<section class="center">
    <h2>Welcome</h2>
    <% if (message) { %>
        <p class="msg success">
            <%= message %>
        </p>
        <% } %>
            <p>Use the links above to add, view or delete student records.</p>
</section>